@import "../../../Variables/colours.scss";

.page {
  background: $skyBlue;
  background: linear-gradient(0deg, $skyBlue 0%, $sunshineYellow 100%);
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.taskManager {
  width: 600px;
  border-radius: 10px;
  max-height: 600px;
  font-family: "Arial", sans-serif;
  background-color: $white;
  padding: 20px;

  &-input {
    display: flex;
    align-items: center; /* Vertically align items in the center */
    margin-bottom: 16px;

    input,
    input:focus {
      flex: 1 1;
      border: 0;
      font-size: 20px;
      outline: none;
      padding: 8px;
    }

    button {
      padding: 8px;
      display: flex;
      margin-left: 8px;
      font-size: 15px;
      cursor: pointer;
      align-items: center;
      background: none;
      border: 0;

      &.button-add {
        div {
          margin-top: 2px;
        }
        svg {
          transition: all 0.5s ease-in-out;
          width: 30px;
          height: 30px;
        }

        &.open svg {
          transform: rotate(45deg);
          path {
            stroke: $primaryRed;
          }
        }

        &.active svg {
          path {
            stroke: $skyBlue;
          }
        }
      }
    }
  }
}

h1 {
  text-align: center;
}
