@import "../../../Variables/colours.scss";

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid $lightGrey;
  margin-bottom: 8px;

  .delete-button:hover g {
    fill: $primaryRed;
  }

  SVG {
    width: 20px;
    height: 20px;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;
    -webkit-justify-content: center;
    cursor: pointer;
    justify-content: center;
  }

  &.completed {
    background-color: $lightGreen;
    color: $white;
    text-decoration: line-through;

    g {
      fill: $white;
    }

    .task-actions {
      .edit-button {
        SVG {
          path,
          polygon {
            stroke: $white;
          }
        }
      }
    }
  }

  .complete-button {
    cursor: pointer;

    SVG {
      width: 30px;
      height: 30px;
    }
  }

  .task-text {
    cursor: pointer;
    flex-grow: 1;
  }

  .task-actions {
    button {
      margin-left: 8px;
      cursor: pointer;
    }
  }

  input,
  input:focus {
    flex: 1;
    padding: 8px;
    border: 0;
    font-size: 16px;
    outline: none;
  }
}
